@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* some additional fonts */

@font-face {
    font-family: "lupine";
    src: url("/static/fonts/font.ttf") format("truetype");
}

@font-face {
    font-family: "nueue-montreal-regular";
    src: url("/static/fonts/NeueMontreal-Regular.otf") format("opentype");
}

@font-face {
    font-family: "nueue-montreal-bold";
    src: url("/static/fonts/NeueMontreal-Bold.otf") format("opentype");
}

@font-face {
    font-family: "nueue-montreal-light";
    src: url("/static/fonts/NeueMontreal-Light.otf") format("opentype");
}

.lupine {
    font-family: "lupine";
}

.nueue-montreal {
    font-family: "nueue-montreal";
}

.nueue-montreal-regular {
    font-family: "nueue-montreal-regular";
}

.nueue-montreal-bold {
    font-family: "nueue-montreal-bold";
}

.nueue-montreal-light {
    font-family: "nueue-montreal-light";
}




.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.heebo {
    font-family: 'Heebo', sans-serif;
}